.lists {
  height: 150px;
  @media (min-width: 640px) {
    height: calc(50vh - 55px - 215px - 2px);
  }
  @media (min-width: 1280px) {
    height: calc(50vh - 55px - (71.2px / 2) - 2px);
    border-top-width: 1;
  }
  @apply w-full border-t;
}
